<!DOCTYPE html>
<html>
  <head>
    <title>t4</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">


<style>
body h1 {
  text-align: center; 
	background-color: white;
	color: #26C0C2;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
}
